@using AjourNet.Domain.ViewModels
@model LoginViewModel
@{
    Layout = "~/Views/Shared/_EmptyLayout.cshtml"; 
    ViewBag.Title = "Log in";
}

<div class="row">
    @if(ViewData.ModelState["BootstrapAlertSummary"]!=null)
    {
    <div class="alert-danger col-md-6 col-md-offset-3 loginErrorBar" id="loginErrorBar">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
                @ViewData.ModelState["BootstrapAlertSummary"].Errors[0].ErrorMessage;
    </div>
    }
    <div class="col-md-6 col-md-offset-3">
        <section class="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", id = "loginForm", role = "form" }))
            {
                <ul id="messageBox" style="display: none">
                    <li>ddd</li>
                </ul>
                @Html.AntiForgeryToken()
                <h4>Ajour<span class="text-primary">Net</span></h4>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 col-md-offset-1 control-label" })
                    <div class="col-md-9">
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control col-md-8" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 col-md-offset-1 control-label" })
                    <div class="col-md-9">
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control col-md-8" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-3 col-md-9">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-5 col-md-2">
                        <input type="submit" value="Log in" class="btn btn-default" />
                    </div>
                </div>
            }
        </section>
    </div>
</div>

@section Scripts { 
} 