@using AjourNet.Domain.ViewModels
@using AjourNet.Helpers;

@model IEnumerable<UserPostModel>

@{
    Layout = null;
}

@Styles.Render("~/Content/css")
<style type="text/css">
    .timeAgo {
    font-size:smaller;
    font-style:normal;
    color:#c6c3c3;
    }
</style>

@foreach (UserPostModel post in Model)
{
    <form id="userPosts">
        <div class="row">
            <div class="col-md-3">
                <img src="~/Images/no-photo.jpg" style="width: 100%; height: 100%">
            </div>
            
            <div class="col-md-7">

                <div class="col-md-12">
                    @post.Text
                </div>

            </div>
            <div class="col-md-2 timeAgo">
                <span class="small">@post.Time.TimeAgo()</span>
            </div>
        </div>
        <hr>
    </form>
    <div class="row">
        @using (Ajax.BeginForm("CreateComment", "Comment", null, new AjaxOptions { HttpMethod = "Get", UpdateTargetId = "feedsView" }, new { @class = "form-horizontal col-md-12", @id = "editCommentForm" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-group">
                <div class="col-md-offset-9 col-md-2 text-right">
                    @Html.Hidden(post.PostID.ToString())
                    <input type="submit" value="Comment" class="btn btn-default" />
                </div>
            </div>
        }
    </div>
}
