@model AjourNet.Domain.ViewModels.UserProfileModel

@{
    Layout = null;
}

@{
    string result = System.Convert.ToBase64String(Model.Picture, 0, Model.Picture.Length);        
}


<div class="text-center" id="imageContainer">
    <img src="data:image/jpeg;base64,@result" class="img-thumbnail" id="profileImage">
</div>

@using (Ajax.BeginForm("EditProfile","Profile",null, new AjaxOptions { HttpMethod = "Get", UpdateTargetId = "profilesView" }, new { @class = "form-horizontal", @id = "editProfileForm"}))
{    
    <div class="text-center">
            <p class="form-control-static"><strong>@Html.Label(Model.FirstName) @Html.Label(Model.LastName)</strong></p>
    </div>
    <div class="text-center">
            @Html.Label(Model.UserName)
            @Html.Hidden("id",Model.UserName)
    </div>
    <div class="text-center">
            @Html.Label(Model.Location)
    </div>
    <div class="text-center">
            @Html.Label(Model.Status.ToString())
    </div>
    <div class="text-center">
           @Html.Label(Model.PhoneNumber)
    </div>
        <div class="form-group text-center">
            <em>@Html.Label(Model.Motto)</em>
        </div>
    <div class="form-group">
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Edit Profile</button>
        </div>
    </div>
}