<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body id="generalBody">
    <div id="searchContainer">
        <div id="searchWrapper">
            <input type="search" placeholder="Search..." class="form-control" id="mainSearch"> @*<--wrap into form*@
        </div>
    </div>
    <div class=" navbar navbar-default navbar-inverse" id="navbarMain">
        <div class="container">
            <div class="centered-pills">
                <ul class="nav nav-pills">
                    <li class=""><a href=""><strong>Home</strong></a></li>
                    <li class=""><a href=""><strong>People</strong></a></li>
                    <li class=""><a href=""><strong>Groups</strong></a></li>
                    <li class=""><a href=""><strong>Chat</strong></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row" id="mainRow">
            <div class="col-xs-3" id="profilesContainer">
                <div id="profilesView">
                    @*@Html.Partial("~/Views/Profile/GetProfile.cshtml")*@
                    @Html.Action("GetProfile", "Profile")
                </div>
            </div>
            <div class="col-xs-5" id="feedsContainer">
                <div id="feedsView">
                    @*@Html.Action()*@
                </div>
            </div>
            <div class="col-xs-3" id="miscContainer">
                <div id="miscView">
                    @*@Html.Action()*@
                </div>
            </div>
        </div>
    </div>

        @RenderBody()


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
